body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
.board {
    display: flex;
    justify-content: space-between;
}
.column {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 23%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card {
    background: #e9e9e9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.card.completed {
    background: #d4edda;
}
.card.overdue {
    background: #f8d7da;
}

/* Затемнение фона */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* модалка*/
.modal {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    min-width: 350px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-form input,
.modal-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}